<tr>
  <td>
    <p>
      <%= firstName %> <%= lastName %> (<%= username %>)
    </p>
    <% if (hasBelt) { %>
      <p><strong>Belt owner</strong></p>
    <% } %>
  </td>
  <td><%= stageName %></td>
  <td><%= matches %></td>
  <td><%= won %></td>
  <td><%= lost %></td>
  <td><%= rating %></td>
  <td><%= rank || 'Not ranked' %></td>
  <td>
    <p><%= level %></p>
    <p>
      <a href="<%= EP.Helpers.tipLink(achievements) %>">
        <%= achievements.length %>&nbsp;achievement(s)
      </a>
    </p>
  </td>
  <td><%= perfects %></td>
  <td>
    <a href="<%= EP.Helpers.tipLink(invitations) %>">
      <%= invitations.length %>&nbsp;invite(s) sent
    </a>
  </td>
  <td>
    <a href="<%= EP.Helpers.tipLink(opponents) %>">
      <%= opponents.length %>&nbsp;opponent(s)
    </a>
  </td>
  <td><%= streak %></td>
  <td><%= beltPossession %></td>
  <td><%= weekPoints %></td>
  <td>
    <a href="<%= EP.Helpers.tipLink(games) %>">
      <%= games.length %>&nbsp;game(s)
    </a>
  </td>
  <td>
    <a href="<%= EP.Helpers.tipLink( _(notifications).map(function(n) { return n.type + ':' + n.value; }) ) %>">
      <%= notifications.length %>&nbsp;notification(s)
    </a>
  </td>
</tr>